<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hathy.eventbussample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name=".DisplayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        
	    <receiver android:name=".ChargingReceiver">
	        <intent-filter>
	            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
	            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
	        </intent-filter>
	    </receiver>
    </application>

</manifest>
